<table border='0' style='height:100%;width:100%'>
  <tr><td style='height:100%;vertical-align:top'><?insert text?></td></tr>
  <tr><td style='height:1px'>
    <table style='width:100%'>
      <tr><td style='width:33%'>
        <button accesskey='&#27;' style='width:100%;background-image:linear-gradient(to bottom, #ffd1d1 0%,#ff7f7f 50%,#e90000 51%,#ff0000 75%,#c80000 100%)' action='return -1'>CANCEL</button>
      </td><td style='width:34%'>
      </td><td style='width:33%'>
        <button accesskey='&#13;' style='width:100%;background-image:linear-gradient(to bottom, #d1ffd1 0%,#7fff7f 50%,#00e900 51%,#00ff00 75%,#00c800 100%)' action='return 0'>OK</button>
      </td></tr>
    </table>
  </td></tr>
</table>
