div.header {
	text-align:center;
	font-size: 22px;
	font-weight:bold;
	padding-bottom: 5px;
	border-bottom: 4px solid;
	padding-top: 5px;
	border-top: 4px solid;
}

div.content {
	padding-top:	10px;
	padding-bottom:	10px;
}

div.key {
	padding-top: 10px;
	font-size: 20px;
	font-weight:bold;
}

div.value {
	width:100%;
	border-bottom: 2px solid;
	padding-bottom: 10px;
	padding-left: 25px;
	font-size: 20px;
}

div.footer {
	padding-top: 20px;
	padding-bottom: 80px;
	font-size: 16px;
	text-align:center;
}
