/* Main
-----------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

table {
	border-spacing:0px;
	table-layout:fixed;
	width:100%;
}

/* set viewports for different sizes */
div.viewport {
	background-color: #fff;
	font: 12px DejaVu Sans;
	height: 100%;
	overflow: hidden;
}

div.text_nowrap {
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

div.text_nowrap_tick {
	width:100%;
	overflow:'ticker-rl 15';
	white-space:nowrap;
}

/* Header
-----------------------------------------------------------------------------*/
div.header {
	height: 15%;
	background-color: #000000;
}

div.header.question {
	height: 15%;
	background-color: #000000;
}

div.header.attention {
	height: 15%;
	background-color: #000000;
}

div.header.error {
	height: 15%;
	background-color: #000000;
}

div.header.OK {
	height: 15%;
	background-color: #000000;
}

div.header table {
	height: 100%;
	border-spacing:0px;
}

td.header_txt {
	text-align:center;
	color: #ffffff;
	font-weight:bold;
}

td.header_ico {
	width: 10%;
	padding-left:2%;
}

div.header_ico.img {
	width:100%;
	height:100%;
	background-image: url("Images/left_icon.png");
	background-repeat:no-repeat;
	background-position:center;
}

button.back_bttn {
	width:100%;
	height:100%;
	border:0px;
	background-color: #000000;
}

/* Content
-----------------------------------------------------------------------------*/
div.content {
	width:100%;
	height:65%;
	overflow: auto;
	background-color: #fff;
	padding:1% 2% 2% 2%;
}

div.content.header {
	width:94%;
	height:15%;
	font-size:10px;
	text-align:center;
	color:#000000;
}

div.content.icon.OK {
	width:94%;
	height:50%;
	text-align:center;
	background-image: url("Images/OK_icon.png");
	background-repeat:no-repeat;
	background-position:center;
}

div.content.icon.question {
	width:94%;
	height:50%;
	text-align:center;
	background-image: url("Images/question_icon.png");
	background-repeat:no-repeat;
	background-position:center;
}

div.content.icon.error {
	width:94%;
	height:50%;
	text-align:center;
	background-image: url("Images/error_icon.png");
	background-repeat:no-repeat;
	background-position:center;
}

div.content.icon.attention {
	width:94%;
	height:50%;
	text-align:center;
	background-image: url("Images/attention_icon.png");
	background-repeat:no-repeat;
	background-position:center;
}

div.content.icon.wait {
	width:94%;
	height:52%;
	text-align:center;
}

div.content.message {
	width:94%;
	height:25%;
	text-align:center;
	font-size:10x;
	color:#000000;
}

div.content.continuous_text {
	margin:0%;
	width:94%;
	height:100%;
	text-align:center;
	font-size:10px;
	color:#000000;
}

div.content.continuous_text_left {
	margin:0%;
	width:94%;
	height:100%;
	text-align:left;
	font-size:10px;
	color:#000000;
}

/* Content Button
-----------------------------------------------------------------------------*/
button.regular_button {
	display:block;
	height:40%;
	width:95%;
	color:#000000;
	background-color: #ffffff;
	margin:1%;
	border-radius:5px;
	border:1px solid #000000;
}

button.regular_button table {
	border-spacing:0px;
}

td.regular_button_txt {
	width:85%;
	text-align:left;
	padding-left:4%;
	font-weight:bold;
	font-size:10px;
	//background-color:blue;
}

td.regular_button_sub {
	width:75%;
	text-align:left;
	padding-left:10%;
	font-size:10px;
	//background-color:red;
}

td.regular_button_ico_nothing {
	width:15%;
	height:100%;
	background-image: url("Images/nothing_icon.png");
	background-repeat:no-repeat;
	background-position:center;
}

td.regular_button_ico_right {
	width:15%;
	height:100%;
	background-image: url("Images/right_icon_inv.png");
	background-repeat:no-repeat;
	background-position:center;
}

button:focus td.regular_button_ico_right {
	background-image: url("Images/right_icon.png");
	background-repeat:no-repeat;
	background-position:center;
}

button.regular_button:focus {
	color: #ffffff;
	background-color: #000000;
	border: 1px solid #ffffff;
	font-weight:bold;
}

/* Status button
-----------------------------------------------------------------------------*/
button.status_button {
	display:block;
	width:95%;
	color:#000000;
	background-color: #ffffff;
	border-radius:5px;
	text-align:left;
	margin:1%;
	border:0px;
}

button.status_button:focus {
	color: #ffffff;
	background-color: #000000;
	border: 1px solid #ffffff;
	font-weight:bold;
}

/* Content key/value
-----------------------------------------------------------------------------*/
table.keytable {
	width:95%;
	margin:1%;
}

td.key_value_list_img {
	width:15%;
	border-bottom: 1px solid #000000;
}

td.key_value_list_img.bluetooth {
	background-image: url("Images/bluetooth.png");
	background-repeat:no-repeat;
	background-position: left center;
}

td.key_value_list_img.bluetooth:focus {
	background-image: url("Images/bluetooth_inv.png");
}

td.key_value_list_img.dial {
	background-image: url("Images/dial.png");
	background-repeat:no-repeat;
	background-position: left center;
}

td.key_value_list_img.dial:focus {
	background-image: url("Images/dial_inv.png");
}

td.key_value_list_img.GPRS {
	background-image: url("Images/GPRS.png");
	background-repeat:no-repeat;
	background-position: left center;
}

td.key_value_list_img.GPRS:focus {
	background-image: url("Images/GPRS_inv.png");
}

td.key_value_list_img.lan {
	background-image: url("Images/lan.png");
	background-repeat:no-repeat;
	background-position: left center;
}

td.key_value_list_img.lan:focus {
	background-image: url("Images/lan_inv.png");
}

td.key_value_list_img.USB {
	background-image: url("Images/USB.png");
	background-repeat:no-repeat;
	background-position: left center;
}

td.key_value_list_img.USB:focus {
	background-image: url("Images/USB_inv.png");
}

td.key_value_list_img.WiFi {
	background-image: url("Images/WiFi.png");
	background-repeat:no-repeat;
	background-position: left center;
}

td.key_value_list_img.WiFi:focus {
	background-image: url("Images/WiFi_inv.png");
}

td.key_value_list_l {
	width:60%;
	padding:2px 2px 2px 2px;

	font-size:10px;
	font-weight:bold;
	color:#000000;
	border-bottom: 1px solid #000000;
}

td.key_value_list_l:focus {
	color:#ffffff;
}

td.key_value_list_r {
	font-size:10px;

	border-bottom: 1px solid #000000;
	color:#000000;
}

td.key_value_list_r:focus {
	color:#ffffff;
}

td.key_value_list_up {
	width:100%;
	padding:4px 5% 5% 5%;

	font-size:10px;
	font-weight:bold;
	color:#000000;
}

td.key_value_list_down {
	font-size:10px;
	padding:5% 5% 5% 10%;

	border-bottom: 1px solid #000000;
	color:#000000;
}

/* Content input
-----------------------------------------------------------------------------*/
div.input_field {
	width:98%;
	padding-left:2%;
	padding-top:2%;
}

table.input_message {
	height:25%;
	font-size:10px;
	color:#000000;
	font-weight:bold;
}

td.input_message_ico {
	width:20%;
	background-image: url("Images/input.png");
	background-repeat:no-repeat;
	background-position: left center;
}

input {
	height:25%;
	width:96%;
	border:1px solid;
	color:#000000;
}

input:focus {
	border-color:2px solid;
}


/* Footer
-----------------------------------------------------------------------------*/
div.footer {
	height:18%;
	background-color: #fff;
}

div.footer table {
	width: 100%;
	height: 100%;
	
	border-spacing:1px 0px 0px 0px;

	padding:10% 4% 0% 0%;
	margin:2%;
}

td.special_button {
	width:50%;
	vertical-align:middle;
	text-align:center;

	color:#000;
	font-weight:bold;
	font-size:10px;

	background-color: #ffffff;

	border-radius:5px;
	border:1px solid #000000;
}

td.special_button button {
	height:100%;
	width:100%;

	background-color:#ffffff;

	border-radius:5px;
	border:0px;
}

td.special_button button:focus {
	background-color: #000000;
	color:#ffffff;
	border:2px solid;
}
