<table border="0" cellspacing="0" cellpadding="0" style="height:100%;width:100%;">
  <tr>
    <td style="height:100%;width:100%;vertical-align:middle;text-align:center;">
      <?insert text?>
    </td>
  </tr>
  <tr>
    <td style="height:1px;width:100%;">
      <table cellspacing="0" cellpadding="2px" border="0" style="width:100%;">
        <tr>
          <td style="width:25%;"></td>
          <td style="width:50%;">
            <button accesskey='&#27;' action='return -1' style='width:100%;background-image:linear-gradient(to bottom, #ffd1d1 0%,#ff7f7f 50%,#e90000 51%,#ff0000 75%,#c80000 100%)'>CANCEL</button>
          </td>
          <td style="width:25%;"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
