<?insert text?>
<button accesskey='&#27;' action='return -1' style='visibility:hidden'></button>
<button accesskey='&#13;' action='return 0' style='visibility:hidden'></button>
<button accesskey='&#129;' action='call document.up()' style='visibility:hidden'></button>
<button accesskey='&#133;' action='call document.up()' style='visibility:hidden'></button>
<button accesskey='&#132;' action='call document.down()' style='visibility:hidden'></button>
<button accesskey='&#137;' action='call document.down()' style='visibility:hidden'></button>
<button accesskey='&#130;' action='call cursor.left()' style='visibility:hidden'></button>
<button accesskey='&#131;' action='call cursor.right()' style='visibility:hidden'></button>
