<table border='0' cellspacing='0' cellpadding='0' style='height:100%;width:100%'>
  <tr><td style='height:100%;vertical-align:top'><?insert text?></td></tr>
  <tr><td style='height:1px'>
      <table border='0' cellspacing='0' cellpadding='0' style='width:100%'>
        <tr><td style='width:20%'>
            <table align="center" border='0' cellspacing='0' cellpadding='0' style='width:100%;background-color:red;vertical-align:center'><tr><td>NO</table>
            
        </td><td style='width:60%'>
            <div style='width:60%;margin-left:auto;margin-right:auto;background-color:yellow;text-align:center'>CANCEL</div>
        </td><td style='width:20%'>
            <div style='width:100%;background-color:green;text-align:center'>YES</div>
        </td></tr>
      </table>
  </td></tr>
</table>
<button accesskey='&#13;' style='visibility:hidden' action='return 1'></button>
<button accesskey='&#137;' style='visibility:hidden' action='return 1'></button>
<button accesskey='&#8;' style='visibility:hidden' action='return -1'></button>
<button accesskey='&#135;' style='visibility:hidden' action='return -1'></button>
<button accesskey='&#27;' style='visibility:hidden' action='return 0'></button>
<button accesskey='&#133;' style='visibility:hidden' action='return 0'></button>
<button accesskey='&#129;' action='call document.up()' style='visibility:hidden'></button>
<button accesskey='&#132;' action='call document.down()' style='visibility:hidden'></button>
<button accesskey='&#130;' action='call document.left()' style='visibility:hidden'></button>
<button accesskey='&#131;' action='call document.right()' style='visibility:hidden'></button>
<button accesskey='&#138;' action='call focus.previous()' style='visibility:hidden'></button>
<button accesskey='&#139;' action='call focus.next()' style='visibility:hidden'></button>
