<?insert text?>
<button accesskey='&#133;' style='visibility:hidden' action='return 133'></button>
<button accesskey='&#134;' style='visibility:hidden' action='return 134'></button>
<button accesskey='&#130;' style='visibility:hidden' action='return 130'></button>
<button accesskey='&#129;' style='visibility:hidden' action='return 129'></button>
<button accesskey='&#135;' style='visibility:hidden' action='return 135'></button>
<button accesskey='&#132;' style='visibility:hidden' action='return 132'></button>
<button accesskey='&#131;' style='visibility:hidden' action='return 131'></button>
<button accesskey='&#136;' style='visibility:hidden' action='return 136'></button>
<button accesskey='&#137;' style='visibility:hidden' action='return 137'></button>
<button accesskey='1' style='visibility:hidden' action='return 1'></button>
<button accesskey='2' style='visibility:hidden' action='return 2'></button>
<button accesskey='3' style='visibility:hidden' action='return 3'></button>
<button accesskey='4' style='visibility:hidden' action='return 4'></button>
<button accesskey='5' style='visibility:hidden' action='return 5'></button>
<button accesskey='6' style='visibility:hidden' action='return 6'></button>
<button accesskey='7' style='visibility:hidden' action='return 7'></button>
<button accesskey='8' style='visibility:hidden' action='return 8'></button>
<button accesskey='9' style='visibility:hidden' action='return 9'></button>
<button accesskey='&#138;' style='visibility:hidden' action='return 138'></button>
<button accesskey='0' style='visibility:hidden' action='return 0'></button>
<button accesskey='&#139;' style='visibility:hidden' action='return 139'></button>
<button accesskey='&#27;' style='visibility:hidden' action='return 20'></button>
<button accesskey='&#8;' style='visibility:hidden' action='return 21'></button>
<button accesskey='&#13;' style='visibility:hidden' action='return 22'></button>
