<table border="0" cellspacing="0" cellpadding="0" style="height:100%;width:100%;">
  <tr>
    <td style="height:100%;width:100%;vertical-align:middle;text-align:center;">
      <?insert text?>
    </td>
  </tr>
  <button accesskey="&#27;" style="visibility:hidden" action="return -1"></button>
  <button accesskey='&#138;' style='visibility:hidden' action='call document.up()'></button>
  <button accesskey='&#139;' style='visibility:hidden' action='call document.down()'></button>
</table>
