<?insert text?>
<button accesskey='&#27;' action='return -1' style='visibility:hidden'></button>
<button accesskey='&#13;' action='return 0' style='visibility:hidden'></button>
<button accesskey='&#138;' action='call document.up()' style='visibility:hidden'></button>
<button accesskey='&#139;' action='call document.down()' style='visibility:hidden'></button>
