/* Main
-----------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

table {
	table-layout:fixed;
	width:100%;
}

/* set viewports for different sizes */
div.viewport {
	background-color: #fff;
	font: 18px DejaVu Sans;
	height: 100%;
	overflow: hidden;
}

div.text_nowrap {
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

div.text_nowrap_tick {
	width:100%;
	overflow:'ticker-rl 15';
	white-space:nowrap;
}

/* Header
-----------------------------------------------------------------------------*/
div.header {
	height: 15%;
	background-color: #003366;
}

div.header.question {
	height: 15%;
	background-color: #003366;
}

div.header.attention {
	height: 15%;
	background-color: #f1bd19;
}

div.header.error {
	height: 15%;
	background-color: #ec2e09;
}

div.header.OK {
	height: 15%;
	background-color: #87c43f;
}

div.header table {
	height: 100%;
}

td.header_txt {
	text-align:center;
	color: #ffffff;
	font-weight:bold;
}

td.header_ico {
	width: 10%;
	padding-left:2%;
}

div.header_ico.img {
	width:100%;
	height:100%;
	background-image: url("Images/left_icon.png");
	background-repeat:no-repeat;
	background-position:center;
}

button.back_bttn {
	width:100%;
	height:100%;
	border:0px;
	background-color: #003366;
}

/* Content
-----------------------------------------------------------------------------*/
div.content {
	width:100%;
	overflow: auto;
	background-color: #fff;
	height:68%;
	padding:1% 2% 2% 2%;
}

div.content.header {
	width:94%;
	height:15%;
	font-size:18px;
	text-align:center;
	color:#003366;
}

div.content.icon.OK {
	width:94%;
	height:60%;
	text-align:center;
	background-image: url("Images/OK_icon.png");
	background-repeat:no-repeat;
	background-position:center;
}

div.content.icon.question {
	width:94%;
	height:60%;
	text-align:center;
	background-image: url("Images/question_icon.png");
	background-repeat:no-repeat;
	background-position:center;
}

div.content.icon.error {
	width:94%;
	height:60%;
	text-align:center;
	background-image: url("Images/error_icon.png");
	background-repeat:no-repeat;
	background-position:center;
}

div.content.icon.attention {
	width:94%;
	height:60%;
	text-align:center;
	background-image: url("Images/attention_icon.png");
	background-repeat:no-repeat;
	background-position:center;
}

div.content.icon.wait {
	width:94%;
	height:60%;
	text-align:center;
}

div.content.message {
	width:94%;
	height:25%;
	text-align:center;
	font-size:16px;
	color:#003366;
}

div.content.continuous_text {
	margin:0%;
	width:94%;
	height:100%;
	text-align:center;
	font-size:12px;
	color:#003366;
}

div.content.continuous_text_left {
	margin:0%;
	width:94%;
	height:100%;
	text-align:left;
	font-size:12px;
	color:#003366;
}

/* Content Button
-----------------------------------------------------------------------------*/
button.regular_button {
	display:block;
	height: 25%;
	width:96%;
	background-color: #ccc;
	margin:1%;
	border-radius:5px;
	border:0px;
	color:#003366;
}

td.regular_button_txt {
	width:85%;
	text-align:left;
	padding-left:4%;
	font-weight:bold;
	font-size:14px;
}

td.regular_button_sub {
	width:75%;
	text-align:left;
	padding-left:10%;
	font-size:14px;
}

td.regular_button_ico_right {
	width:15%;
	height:100%;
	text-align:right;
	padding-right:10%;
	font-size:30px;
	font-weight:900;
	background-image: url("Images/right_icon.png");
	background-repeat:no-repeat;
	background-position:center;
}

button:focus td.regular_button_ico_right {
	background-image: url("Images/right_icon_inv.png");
	background-repeat:no-repeat;
	background-position:center;
}

td.regular_button_ico_nothing {
	width:15%;
	height:100%;
	text-align:right;
	padding-right:10%;
	font-size:30px;
	font-weight:900;
	background-image: url("Images/nothing_icon.png");
	background-repeat:no-repeat;
	background-position:center;
}

button.regular_button:focus {
	background-color: #0099ff;
	color: #ffffff;
}

/* Status button
-----------------------------------------------------------------------------*/
button.status_button {
	display:block;
	width:96%;
	background-color: #FFFFFF;
	margin-left:1%;
	margin-right:1%;
	border-radius:5px;
	border:0px;
	color:#003366;
}

button.status_button:focus {
	background-color: #0099ff;
	color: #ffffff;
}

/* Content key/value
-----------------------------------------------------------------------------*/
table.keytable {
	width:96%;
	margin:1%;
}

td.key_value_list_img {
	width:15%;
	border-bottom: 1px solid #003366;
}

td.key_value_list_img.bluetooth {
	background-image: url("Images/bluetooth.png");
	background-repeat:no-repeat;
	background-position: left center;
}

td.key_value_list_img.dial {
	background-image: url("Images/dial.png");
	background-repeat:no-repeat;
	background-position: left center;
}

td.key_value_list_img.GPRS {
	background-image: url("Images/GPRS.png");
	background-repeat:no-repeat;
	background-position: left center;
}

td.key_value_list_img.lan {
	background-image: url("Images/lan.png");
	background-repeat:no-repeat;
	background-position: left center;
}

td.key_value_list_img.WiFi {
	background-image: url("Images/WiFi.png");
	background-repeat:no-repeat;
	background-position: left center;
}

td.key_value_list_img.USB {
	background-image: url("Images/USB.png");
	background-repeat:no-repeat;
	background-position: left center;
}

td.key_value_list_l {
	width:50%;
	padding:5px 5px 5px 5px;

	font-size:14px;
	font-weight:bold;
	color:#003366;

	border-bottom: 1px solid #003366;
}

td.key_value_list_r {
	font-size:14px;

	border-bottom: 1px solid #003366;
	color:#003366;
}

td.key_value_list_up {
	width:100%;
	padding:6px 5% 5% 5%;

	font-size:14px;
	font-weight:bold;
	color:#003366;
}

td.key_value_list_down {
	font-size:14px;
	padding:5% 5% 5% 10%;

	border-bottom: 1px solid #003366;
	color:#003366;
}

/* Content input
-----------------------------------------------------------------------------*/
div.input_field {
	width:98%;
	padding-left:2%;
	padding-top:2%;
}

table.input_message {
	height:20%;
	color:#003366;
	font-weight:bold;
}

td.input_message_ico {
	width:15%;
	background-image: url("Images/input.png");
	background-repeat:no-repeat;
	background-position: left center;
}

input {
	height:20%;
	width:96%;
	border:2px;
	color:#003366;
}

input:focus {
	border-color:#0099ff;
}


/* Footer
-----------------------------------------------------------------------------*/
div.footer {
	height: 13%;
	background-color: #fff;
}

div.footer table {
	width: 100%;
	height: 100%;

	padding:10% 4% 0% 0%;
	margin:2%;
}

td.special_button {
	width:50%;
	vertical-align:middle;
	text-align:center;

	color:#fff;
	font-weight:bold;
	font-size:14px;

	background-color: #003366;

	border-radius:3px;
	border:0px;
}

td.special_button button {
	height:100%;
	width:98%;

	background-color:#003366;

	border-radius:5px;
	border:0px;
}

button:focus {
	background-color: #0099ff;
}
