<table border='0' cellspacing='0' cellpadding='0' style='height:100%;width:100%'>
  <tr><td style='height:1px'>
      <h4><?insert text?></h4>
  </td></tr>
  <tr><td style='height:100%'>
      <select name='uimenu' size='2' style='height:100%;width:100%'>
        <?insert menu?>
      </select>
  </td></tr>
</table>
<button action='call uimenu.action()' accesskey='&#13;' style='visibility:hidden'></button>
<button action='call uimenu.up()' accesskey='&#139;' style='visibility:hidden'></button>
<button action='call uimenu.down()' accesskey='&#138;' style='visibility:hidden'></button>
