<?insert text?>
<button accesskey='&#13;' style='visibility:hidden' action='return 0'></button>
<button accesskey='&#27;' style='visibility:hidden' action='return -1'></button>
<button accesskey='&#130;' style='visibility:hidden' action='call cursor.left()'></button>
<button accesskey='&#131;' style='visibility:hidden' action='call cursor.right()'></button>