<?insert text?>
<button accesskey='&#13;' style='visibility:hidden' action='return 0'></button>
<button accesskey='&#139;' action='call document.up()' style='visibility:hidden'></button>
<button accesskey='&#138;' action='call document.down()' style='visibility:hidden'></button>
