<table border='0' cellspacing='0' cellpadding='0' style='height: 100%; width: 100%;font-size:18px;color:red;background-image:linear-gradient(to bottom, #E5E5E5, #AEAEAE);text-align:center'>
  <tr><td style='width:30px;height:1px;vertical-align:top;'>
    <img style='margin-top:6px;' src='../img/options.png'>
  </td>
  <td style='height:1px;vertical-align:middle;'>
    <?insert text?>
  </td>
  <td style='width:30px;height:1px;vertical-align:top;'>
    <img style='margin-top:6px;' src='../img/config.png'>
  </td></tr>
</table>
