<button accesskey='1' style='width:30%;background-image:linear-gradient(to bottom, #e8e8e8 1%,#c0c0c0 50%,#757575 51%,#919191 75%,#646464 100%)' action='return 1'>1</button>
<button accesskey='2' style='width:30%;background-image:linear-gradient(to bottom, #e8e8e8 1%,#c0c0c0 50%,#757575 51%,#919191 75%,#646464 100%)' action='return 2'>2</button>
<button accesskey='3' style='width:30%;background-image:linear-gradient(to bottom, #e8e8e8 1%,#c0c0c0 50%,#757575 51%,#919191 75%,#646464 100%)' action='return 3'>3</button>
<br><br>
<button accesskey='4' style='width:30%;background-image:linear-gradient(to bottom, #e8e8e8 1%,#c0c0c0 50%,#757575 51%,#919191 75%,#646464 100%)' action='return 4'>4</button>
<button accesskey='5' style='width:30%;background-image:linear-gradient(to bottom, #e8e8e8 1%,#c0c0c0 50%,#757575 51%,#919191 75%,#646464 100%)' action='return 5'>5</button>
<button accesskey='6' style='width:30%;background-image:linear-gradient(to bottom, #e8e8e8 1%,#c0c0c0 50%,#757575 51%,#919191 75%,#646464 100%)' action='return 6'>6</button>
<br><br>
<button accesskey='7' style='width:30%;background-image:linear-gradient(to bottom, #e8e8e8 1%,#c0c0c0 50%,#757575 51%,#919191 75%,#646464 100%)' action='return 7'>7</button>
<button accesskey='8' style='width:30%;background-image:linear-gradient(to bottom, #e8e8e8 1%,#c0c0c0 50%,#757575 51%,#919191 75%,#646464 100%)' action='return 8'>8</button>
<button accesskey='9' style='width:30%;background-image:linear-gradient(to bottom, #e8e8e8 1%,#c0c0c0 50%,#757575 51%,#919191 75%,#646464 100%)' action='return 9'>9</button>
<br><br>
<button accesskey='&#138;' style='width:30%;background-image:linear-gradient(to bottom, #e8e8e8 1%,#c0c0c0 50%,#757575 51%,#919191 75%,#646464 100%)' action='return 138'>*</button>
<button accesskey='0' style='width:30%;background-image:linear-gradient(to bottom, #e8e8e8 1%,#c0c0c0 50%,#757575 51%,#919191 75%,#646464 100%)' action='return 0'>0</button>
<button accesskey='&#139;' style='width:30%;background-image:linear-gradient(to bottom, #e8e8e8 1%,#c0c0c0 50%,#757575 51%,#919191 75%,#646464 100%)' action='return 139'>#</button>
<br><br>
<button accesskey='&#27;' style='background-image:linear-gradient(to bottom, #ffd1d1 0%,#ff7f7f 50%,#e90000 51%,#ff0000 75%,#c80000 100%)' action='return 20'>CANCEL</button>
<button accesskey='&#8;' style='background-image:linear-gradient(to bottom, #ffffd1 0%,#ffff7f 50%,#e9e900 51%,#ffff00 75%,#c8c800 100%)' action='return 21'>CORRECT</button>
<button accesskey='&#13;' style='background-image:linear-gradient(to bottom, #d1ffd1 0%,#7fff7f 50%,#00e900 51%,#00ff00 75%,#00c800 100%)' action='return 22'>OK</button>
<br><br>
<?insert text?>
