        <td style='width:20%'>
          <button accesskey='&#138;' 
                  style='width:100%;background-image:linear-gradient(to bottom, #d1ffd1 0%,#7fff7f 50%,#00e900 51%,#00ff00 75%,#00c800 100%)' 
                  action='call vid.togglesound()'>
            Mute
          </button>
        </td>