button {
    height:30px;
    width:80%;
    color:#143560;
    background-image:linear-gradient(to bottom, #e8e8e8 0%,#646464 100%);
    border-radius:15px;
    padding-left: 5px;
    padding-right: 5px;
}

button:active {
    background-image:linear-gradient(to bottom, #FFD149 0%,#FE9917 100%);
    color:#143560;
}

table.background {
    height:100%;
    width:100%;
    text-align:center;
    background-color:#143560;
    color:white;
    font-size:18px
}

table.card {
    width:100%;
    text-align:center;
    font-size:18px;
    background-image:linear-gradient(to bottom, #FFD149 0%,#FE9917 100%);
    color:#656565;
    border-radius:15px
}

