<table border='0' style='height:100%;width:100%'>
  <tr><td style='height:1px;vertical-align:top'>
      <h4><?insert text?></h4>
  </td></tr>
  <tr><td style='height:100%'>
      <select name='uimenu' size='2' style='height:100%;width:100%'>
        <?insert menu?>
      </select>
  </td></tr>
</table>
<button action='call uimenu.action()' accesskey='&#13;' style='visibility:hidden'></button>
<button action='call uimenu.up()' accesskey='&#129;' style='visibility:hidden'></button>
<button action='call uimenu.down()' accesskey='&#132;' style='visibility:hidden'></button>
<button accesskey='&#133;' action='call document.up()' style='visibility:hidden'></button>
<button accesskey='&#137;' action='call document.down()' style='visibility:hidden'></button>
<button accesskey='&#130;' action='call document.left()' style='visibility:hidden'></button>
<button accesskey='&#131;' action='call document.right()' style='visibility:hidden'></button>
